:root
{
    --primary-color:#fff ;
    --secondary-color:#000;
    --accent-color:#458cf4;
    --acc:#f0f3f8;
    --accc:#cdd3e1; 
    --h1-fs:64px;
    --h1-lh:72px;
    --p-fs:18px;
    --p-lh:30px;
}

*
{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    list-style-type: none;
}
body
{
    background: #fdfdfd;
}

span
{
    color: #458cf4;
}

.header
{
    display: flex;
    align-items: center;
    justify-content: end;
    position: static;
    padding: 30px 20px;
}

.header .join-cta
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
}

.join-cta form
{
    background: #e7eaf0;
    border-radius: 5mm;
    box-shadow: 0 4px 20px #0000002e;
}

.join-cta form input
{
    border-radius: 5mm;
    padding: 10px 20px;
    outline: 0;
    border: 0;
    background: transparent;

}

.mailbox
{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
    position: relative;
    box-sizing: border-box;
    margin-top: 10px;
    
}
.mailbox img
{
    width: 25px;
    
}

.mailbox .info-dot
{
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: red;
    position: absolute;
    left: 19px;
    top: 0;
}
.join-cta .user-icon
{
    width: 30px;
    border-radius: 50%;
}
.join-cta .user
{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    position: relative;
    box-sizing: border-box;
}


.container .side-nav
{
  position: fixed;
  height: 100%;
  width: 200px;
  top: 0;
 z-index: 1;
  left: 0;
}
.side-nav .logo h1
{
    font-size: 1.6em;
    text-align: center;
    padding: 20px;

}


.side-nav ul
{
   padding: 0 10px;
  
}
.side-nav ul li
{
    margin: 40px 0;
    width: 180px;
}
.side-nav ul li a
{
    
    color: #458cf4;
    padding: 0 30px;
    
}
.side-nav  button
{
    
   width: 180px;
   background: transparent;
  border: none;
   border-radius: 2mm;
   padding: 10px;
   font-size: 1em;
   color: #458cf4;
   
    
}

.side-nav button:hover
{
    
    background: #458bf4cd;
    color: black;
    transition: 0.4s;
} 
.side-nav button:hover a
{
    
    
    color: black;
    transition: 0.4s;
}
.side-nav .active
{
    background: #458bf473;
   
    transition: 0.4s;
}

.container .other-side-content{
    margin-left: 210px;
    background-color: #f6f5f5;
    border-radius: 5mm 0 0 5mm;
    padding: 10px;
   
    align-items: center;
}
.notify-container
{
    padding: 10px;
    width: 100%;
    background: white;
    border-radius: 5mm;
}
.notify-container .notify-head
{
    
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
.notify-head form
{
    display: flex;
    justify-content: start;
    align-items: center;
    width: 10%;
    align-items: center;
    text-align: center;
    gap: 10px;
    padding: 10px;
}
.notify-body
{
    padding: 10px;
    margin-top: 15px;
}
.notify-body .notify-card
{ 
    width: 100%;
    height: fit-content;
    border-bottom: 1px solid #ccc ;
    box-sizing: border-box;
    margin-bottom: 20px;
}

.notify-card .notify-body-head
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    align-items: center;
    text-align: center;
    gap: 10px;
    
}
.notify-body-head .notify-info
{
    display: flex;
    justify-content: start;
    align-items: center;
    width: 90%;
    align-items: center;
    text-align: center;
    gap: 10px;
}
 .notify-body-head p
{
    color: #8e8e8e;
}
.notify-card .notify-txt
{
    width: 80%;
    padding: 10px 0px;
    font-size: var(--p-fs);
    line-height: var(--p-lh);
    color: #8e8e8e;
    margin-bottom: 10px;
}


